<h4>{{message$|async}}</h4>

<ul class="nav nav-tabs">
    <li class="nav-item active"><a class="nav-link active"  data-bs-toggle="tab" href="#basic" (click)="fetchBasicUserDetails()" >Basic</a></li>
    <li class="nav-item"><a  class="nav-link"  data-bs-toggle="tab" href="#todos" (click)="fetchToDosList()">
        ToDos <span *ngIf="(todos$|async) as todos">({{todos?.length}})</span></a></li>
    <li class="nav-item"><a class="nav-link"  data-bs-toggle="tab" href="#posts" (click)="fetchPostsList()">Posts
        <span *ngIf="(posts$|async) as posts">({{posts?.length}})</span>
    </a></li>
  </ul>
  
  <div class="tab-content">
    <div id="basic" class="tab-pane fade in active">
        <basic-detail [basicUserDetails]="basicUserDetails$|async"></basic-detail>
    </div>
    <div id="todos" class="tab-pane fade">
        <todo-list [todoList]="(todos$|async)" (deleteToDo)="deleteToDo($event)"></todo-list>
    </div>
    <div id="posts" class="tab-pane fade">
        <posts [postsList]="posts$|async" [commentsList]="comments$|async" (viewComment)="fetchCommentsForPost($event)"></posts>
      </div>
  </div>


